body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #fee9df;
  padding: 0px 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.13px;
  color: #2234fd;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  position: absolute;
  top: 30px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.logo img {
  margin-right: 10px;
  max-width: 100%;
  height: auto;
}

.login-btn {
  background-color: #2234fd;
  padding: 4px 15px;
  border-radius: 29px;
  color: #fee9df;
  width: 188px;
  height: 33px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.next {
  color: #fee9df;
  width: 156px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28.13px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001e37;
  color: white;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 500px;
  text-align: left;
  margin-right: 380px;
  flex: 1;
}

.hero-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  flex: 1;
}

.start-btn {
  background-color: #fee9df;
  color: #2234fd;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 26px;
  line-height: 30.47px;
}

.introduction {
  padding: 20px;
}

.introduction h2 {
  color: #2234fd;
  text-align: center;
  font-weight: 600;
  font-size: 42px;
  line-height: 49.22px;
}

.introduction h2::after {
  content: "";
  display: block;
  border: 0.7px solid #67747c;
  width: 100%;
  max-width: 596.01px;
  height: 0px;
  margin: 0 auto;
  margin-top: 10px;
}

.introduction h3 {
  color: #2234fd;
  font-weight: 600;
  font-size: 35px;
  line-height: 46.88px;
  margin-top: 80px;
}

.intro {
  font-weight: 500;
  font-size: 26px;
  line-height: 30.47px;
  color: #4b4c4d;
  width: 100%;
  max-width: 729px;
}

.pictures {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: -330px;
}

.pic1 {
  width: 145px;
  height: 270px;
  margin-top: 100px;
  left: 908px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}

.pic2 {
  width: 145px;
  height: 270px;
  margin-top: 50px;
  left: 1082px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}

.pic3 {
  width: 145px;
  height: 270px;
  top: 768px;
  left: 1256px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}

.services {
  background-color: #ffffff;
  padding: 40px 20px;
}

.services h2 {
  color: #2234fd;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  line-height: 49.22px;
}

.services h2::after {
  content: "";
  display: block;
  border: 0.7px solid #67747c;
  width: 170px;
  height: 0px;
  margin: 10px auto;
}

.service-cards {
  display: flex;
  justify-content: center;
  background-color: #001e37;
  padding: 25px;
  margin: -20px;
  gap: 190px;
  flex-wrap: wrap;
}

.service-card {
  background-color: #fee9df;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

.service-card .icon,
.service-card h3,
.service-card p {
  text-align: center;
  color: #2234fd;
}

.testimonials {
  padding: 40px 20px;
}

.testimonials h2 {
  color: #2234fd;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  line-height: 49.22px;
}

.testimonials h2::after {
  content: "";
  display: block;
  border: 0.7px solid #67747c;
  width: 270px;
  height: 0px;
  margin: 10px auto;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  font-family: "inter", sans-serif;
}

.testimonial-card {
  background-color: #fee9df;
  color: #2234fd;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
  box-shadow: -8px 10px 8px 0px #2234fd4d;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
}

.testimonial-card .photo {
  text-align: center;
}

.testimonial-card span {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  display: block;
  margin-top: 10px;
}

.footer {
  background-color: #001e37;
  color: #ffffff;
  padding: 30px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carefinder-info,
.useful-links,
.contact-info {
  flex: 1 1 300px;
  margin: 10px;
}

.carefinder-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.carefinder-info p {
  margin: 0;
}

.useful-links h4,
.contact-info h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.useful-links ul,
.contact-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.useful-links li,
.contact-info li {
  margin-bottom: 5px;
}

.useful-links a,
.contact-info a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.useful-links a:hover,
.contact-info a:hover {
  color: #3bc9db;
}

.contact-info address {
  margin: 0;
}

.contact-info li {
  display: flex;
  align-items: center;
}

.contact-info li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: contain;
}

footer address .loc {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
}

/* Responsive styles */

@media screen and (max-width: 1280px) {
  .pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -20px;
    margin-left: -72px;
    margin-right: -72px;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
  }

  .pic1,
  .pic2,
  .pic3 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .hero-content {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .service-cards,
  .testimonial-cards {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-content {
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    margin-top: 10px;
    justify-content: center;
  }

  .login-btn {
    margin-top: 10px;
  }

  .introduction h2 {
    font-size: 36px;
  }

  .introduction h3 {
    font-size: 30px;
  }

  .intro {
    font-size: 22px;
  }

  .pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -20px;
    margin-left: -72px;
    margin-right: -72px;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
  }

  .pic1,
  .pic2,
  .pic3 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .name {
    font-size: 20px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .login-btn {
    width: 100%;
    max-width: none;
  }

  .hero-content {
    padding: 0 10px;
  }

  .start-btn {
    width: 100%;
    font-size: 22px;
  }

  .introduction h2 {
    font-size: 30px;
  }

  .introduction h3 {
    font-size: 26px;
  }

  .footer {
    padding: 20px 10px;
  }

  .footer-content > div {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
}
